# Build products and user data
build/
DerivedData/
*.xcuserdatad/
*.xcworkspace/
*.xcuserstate
*.dSYM/

# Editor files
.DS_Store
*.swp
*.swo
*.tmp
*.log
.vscode/

# Tyrian/SDL binaries and temp
*.o
*.a
*.out
hdt_*

# Tyrian configuration and save files
opentyrian.cfg
tyrian.cfg
tyrian.sav
